:root {
    --light-blue: rgba(0, 168, 204, .05);
    --med-blue: #005082;
    --dark-blue: #000839;
    --orange: #ffa41b;
}


body {
   background-color: var(--light-blue);
   margin: 0;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;

    background-color: var(--dark-blue);
}


.main-nav {
    display: flex;
    margin-right: 50px;
}


.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.main-nav li a{
    color: #a6a6a4;
    padding: 0 10px 0 10px;
    list-style: none;
    text-decoration: none;
    font-size: 2.5rem;
}



.site-info {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-top: 60px;
    align-items: center;
    background-color: blue;
    max-width: 1200px;

}


.site-footer {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: auto;
    align-items: center;
    max-width: 1200px;
    border: 1px black solid;
}


.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;

}

.menu-container {
    height: 25px;
    padding: 10px;
}

.text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
    max-width: 1200px;
    /* padding: 0 15px 0 15px; */
}


.text {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 25px 0 25px;
}


.main-img {
    padding: 0 15px 0 15px;
}

.main-img img{
    width: 300px;
}


.section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background-color 2s;
    width: 100%;
    height: 60vh;
    max-width: 1200px;
    border: 1px black solid;

}



.active {
    color: #625261;
    transition: color 2s;
    font-size: 1.2rem;
}


.active-menu {
    background-color: var(--orange);
}

 